<ion-view view-title="{{category.Text}} [{{current}} / {{category.Questions.length}}]">
    <ion-content>
        <ui-view name="categoryContent"></ui-view>
    </ion-content>
    <div class="bar bar-footer" ng-class="{
         'bar-balanced':isAnswered && isCorrect,
         'bar-assertive':isAnswered && !isCorrect,
         'bar-stable':!isAnswered}">
        <button class="button button-block answer-button button-positive" ng-click="checkAnswer()" ng-hide="isAnswered">
            Answer
        </button>
        <button class="button button-clear" ng-show="isAnswered && category.Questions.length <= current" ui-sref="finish()">Finish</button>
        <div class="title" ng-show="isAnswered && isCorrect">Correct</div>
        <div class="title" ng-show="isAnswered && !isCorrect">Wrong</div>
        <button class="button button-clear" ng-show="isAnswered && category.Questions.length > current" ng-click="next()">Next</button>
        
    </div>
</ion-view>
