<div class="list list-inset exam-result">
    <h2 ng-show="mistakes.length">You made <b ng-bind="mistakes.length"></b> mistake(s):</h2>
    <h2 ng-hide="mistakes.length">Congratilation you haven't done any mistakes!</h2>
</div>
<div class="list list-inset">
    <div class="item list-item item-text-wrap" ng-repeat="question in questions | filter: { isCorrect: false} as mistakes">
        <p>#<span ng-bind="question.id"></span>. <span ng-bind="question.text"></span></p>
        <img ng-attr-src="{{question.imageUrl || undefined}}" ng-show="question.imageUrl" />
        <p ng-repeat="answer in question.answers | filter: {isRight: true}">
            <span class="icon ion-checkmark"></span>
            <span ng-bind="answer.text"></span>
            <img ng-attr-src="{{answer.imageUrl || undefined}}" ng-show="answer.imageUrl" />
        </p>
    </div>
</div>