
<div class="list list-inset question-container">
    <div class="item item-text-wrap question">
        <h2 ng-bind="question.Text"></h2>
        <img ng-attr-src="{{question.ImageUrl || undefined}}" ng-show="question.ImageUrl"/>
        <h3>Mark <span ng-bind="question.CorrectAnswersNumber"></span> Answer(s) <span class="grayed-out">#<span ng-bind="question.Id"></span></span></h3>
    </div>
</div>
<div class="list list-inset answers-list">
    <div class="item item-checkbox item-text-wrap" ng-repeat="answer in question.Answers">
        <label class="checkbox" ng-class="{
               'checkbox-positive':!question.isAnswered || (!answer.selected && !asnwer.IsRight),
               'checkbox-assertive':question.isAnswered && answer.selected && !asnwer.IsRight,
               'checkbox-balanced':question.isAnswered && ((answer.selected === answer.IsRight) || (answer.IsRight && !answer.selected)),
               }"><input type="checkbox" ng-model="answer.selected"></label>

        <h2 ng-bind="answer.Text"></h2>
        <img ng-attr-src="{{answer.ImageUrl || undefined}}" ng-show="answer.ImageUrl"/>
    </div>
</div>
<div class="list list-inset questoin-buttons">
    <a ng-click="checkAnswer()" ng-hide="isAnswered" class="button button-positive button-block">Answer</a>
    <a ng-click="next()" ng-show="isAnswered && category.Questions.length > current" class="button button-block icon-right ion-chevron-right" ng-class="{
       'button-balanced':isCorrect,
       'button-assertive':!isCorrect}">
        <span ng-show="isCorrect">Correct</span>
        <span ng-show="!isCorrect">Wrong</span>
    </a>
    <a class="button button-positive button-block icon-right ion-navicon" ng-show="isAnswered && category.Questions.length <= current" ng-click="finish()" ng-class="{
       'button-balanced':isCorrect,
       'button-assertive':!isCorrect}">
        <span ng-show="isCorrect">Correct</span>
        <span ng-show="!isCorrect">Wrong</span>
    </a>
</div>