<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="angular-ui-router.TypeScript.DefinitelyTyped" version="0.0.6" userInstalled="true" />
  <package id="angularjs.TypeScript.DefinitelyTyped" version="3.9.9" userInstalled="true" />
  <package id="cordova-ionic.TypeScript.DefinitelyTyped" version="0.0.2" targetFramework="mdd8" userInstalled="true" />
  <package id="jquery.TypeScript.DefinitelyTyped" version="2.2.5" userInstalled="true" />
</packages>