.button.button-full.answer-button {
    margin: 0;
    width: 100%;
}
.question-bar.bar {
    padding: 0;
}
.question h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
}
.question {
    border: none;
    padding-bottom: 0;
}
.question-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.questoin-buttons .button{
    margin: 0;
}
.grayed-out {
    font-size: 90%;
    color: #a5a5a5;
    position: absolute;
    right: 16px;
}
.item p.indented {
    color: #a5a5a5;
    padding-left: 15px;
    margin-top: 4px;
}

.settings h2 {
    margin-bottom: 10px;
}
.settings h2:first-child {
    margin-top: 20px;
}
.timer {
    position: absolute;
    right: 0;
}
.exam-result h1, .exam-result h2 {
    text-align: center;
}
.exam-result h1 button {
    font-size: 36px;
    font-weight: 500;
}