.button.button-full.answer-button {
    margin: 0;
    width: 100%;
}
.question-bar.bar {
    padding: 0;
}
.question h2 {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
}
.question {
    border: none;
}
.question-container {
    margin-top: 10px;
    margin-bottom: 10px;
}
.questoin-buttons {
    margin-bottom: 100px;
}
.grayed-out {
    font-size: 90%;
    color: #a5a5a5;
}